*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

天才*?/
#测试用
.idea/
noth.py
# log 文件
*.txt
神契 幻奇谭/
咲慕流年/
月刊少女野崎君/
开始.bat
半田君传说_163_/
bs4/
镇魂街_iKanMan_/
咲慕流年_iKanMan_/
杂项/